<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1717b30b2a.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Add New Bonus</title>
</head>
<body>
<style>
    .pushContent{margin-top:90px}
</style>
<div>
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Payroll Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/employees}">Payroll Management Dashboard</a>
            </li>
        </ul>
    </div>
</nav>
</div>

<div class="container pushContent">
    <div class="row mt-5">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Add Bonus Record <i class="fa-solid fa-user-graduate"></i></h1>
            <div th:if="${param.error}">
                <div class="alert alert-danger">Invalid Information Provided. Kindly cross-check all input</div>
            </div>
            <div class="card-body">
                <form th:action="@{/add/bonus}" th:object="${bonus}" method="post">

                    <div class="form-group mt-3">
                        <label>Bonus Date</label>
                        <input
                                type="date"
                                name="bonusDate"
                                field="*{bonusDate}"
                                class="form-control"
                                placeholder="Bonus Date">
                    </div>

                    <div class="form-group mt-3">
                        <label>Amount</label>
                        <input
                                type="number"
                                name="bonusAmount"
                                min="1.00"
                                step="0.01"
                                field="*{bonusAmount}"
                                class="form-control"
                                placeholder="0.00">
                    </div>

                    <div class="form-group mt-3">
                        <label for="bonusTypeNo">Bonus Type</label>
                        <select class="form-select" id="bonusTypeNo" name="bonusTypeNo" field="*{bonusTypeNo}">
                            <option value="null" selected="">Select Bonus Type</option>
                            <option th:each="bonus_type : ${bonus_types}" th:value="${bonus_type.bonusTypeNo}" th:text="${bonus_type.bonusDescription}"></option>
                        </select>
                    </div>

                    <input type="number" name="employeeNo" id="employeeNo" field="*{employeeNo}" th:value=${employeeNo} hidden=true>


                    <div class="box-footer mt-3">
                        <button type="submit" class="btn btn-outline-dark btn-lg-center">Submit <i class="fa-solid fa-cloud-arrow-up"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>