<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/1717b30b2a.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Payroll Management System</title>
</head>
<body>
<style>
    .pushContent{margin-top:70px}
</style>
<div class="">

<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Payroll Management System</a>

    <!-- Toggler/collapsible Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/employees}">Payroll Management Dashboard</a>
            </li>
        </ul>
    </div>
</nav>
</div>
<div class="container pushContent">
        <div class="row mt-5">
            <h1>
                List of Employees
            </h1>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <a th:href="@{/employee/add}" class="btn btn-dark btn-md mb-3">Add Employee  <i class="fa-solid fa-user-plus" ></i></a>
            </div>
            <div class="col-lg-2">
                <a th:href="@{/backup}" class="btn btn-dark btn-md mb-3">BackUp  <i class="fa-solid fa-database" ></i></a>
            </div>
        </div>
    <div th:if="${param.error}">
        <div class="alert alert-danger">Failed to back up database. Try again later</div>
    </div>
    <div th:if="${param.success}">
        <div class="alert alert-success">Successfully back up database.</div>
    </div>
        <table class="table table-hover table-striped table-bordered">
            <thead class="table-dark">
            <tr>
                <th> Emp No </th>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Phone No. </th>
                <th> Department </th>
                <th> Position </th>
                <th> Salary </th>
                <th> Emp Date </th>
                <th> Actions </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee: ${employees}" data-toggle="modal" data-target="#staticBackdrop">
                <td th:text="${employee.employeeNo}"></td>
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.phoneNumber}"></td>
                <td th:text="${employee.department}"></td>
                <td th:text="${employee.position}"></td>
                <td th:text="${employee.salary}"></td>
                <td th:text="${employee.employmentDate}"></td>
                <td>
                    <a th:href="@{/pay-details?employeeNo={id}(id=${employee.employeeNo})}" class="btn btn-secondary btn-md">View  <i class="fa-solid fa-pen-to-square"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>